/* !AlertComingSoon section */
@keyframes alert-remove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes alertAdd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.alert {
  padding: 1rem;
  background-color: antiquewhite;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: center;
  animation: alertAdd 1s ease-in-out;
}

.alert > button {
  width: fit-content;
}

.alert-remove {
  animation: alert-remove 0.5s ease-in-out;
}

.alert-hidden {
  display: none;
}

/*! Header section */
.header__padding-vertical {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.header {
  display: flex;
  align-items: flex-end;
  background-color: hsl(167, 90%, 97%);
  border-bottom: 0.2px solid #e5fff9;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header-overflow--hidden {
  display: flex;
  align-items: flex-end;
  border-bottom: 0.2px solid #c3f8ed;
  justify-content: space-between;
}

.header__img {
  width: auto;
  height: 40px;
}

.header__nav-desktop {
  display: flex;
  column-gap: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.header__nav-mobile {
  display: none;
}

.header__nav__a {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.header__nav__a:hover {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Tablets and lower screens */
@media (max-width: 768px) {
  .header {
    /* Not 100% because of the padding on the left and right. */
    width: 90%;
  }

  .header__img {
    width: auto;
    height: 40px;
  }

  .header__padding-vertical {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .header__nav-desktop {
    display: none;
  }

  .header__nav-mobile {
    display: inline-block;
    position: relative;
  }

  .header__nav-mobile__icon {
    position: relative;
    z-index: 10;
  }

  @keyframes menu-active {
    0% {
      right: -55vw;
    }
    100% {
      right: -5vw;
    }
  }

  @keyframes menu-inactive {
    0% {
      right: -5vw;
    }
    100% {
      right: -55vw;
    }
  }
}

.header__nav-mobile__div-active {
  right: -5vw;
  display: inline-block;
  position: absolute;
  width: 50vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  animation: menu-active 0.5s ease-in-out;
}

.header__nav-mobile__div-non--active {
  display: inline-block;
  right: -55vw;
  position: absolute;
  width: 50vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  animation: menu-inactive 0.5s ease-in-out;
}
.header__nav-mobile__div-non--active-hidden {
  display: none;
}

.header__nav-mobile__div__ul {
  padding: 40px;
  list-style-type: none;
}

.header__nav-mobile__div__ul > a {
  text-decoration: none;
}

.header__nav-mobile__div__ul > a > li {
  font-weight: 500;
  margin-bottom: 3rem;
}
