@import url("../../components/componentStyles.css");
@import url("../../pages/Home/homeStyles.css");

:root {
  --primary-color: #16b894;
  --primary-color-80: #cff9f0;
  --primary-color-700: #0d6f5a;
  --primary-color-900: #074033;
  --black-100: #1b242a;
  --white-100: #fff;
  --background-ash: #f4f4f4;
  --normal-gradient: linear-gradient(119.05deg, #89d7ff 1.63%, #79fcd5 73.91%);
  --text-gradient: -webkit-linear-gradient(
    119.05deg,
    #009ae7 1.63%,
    #00e49f 73.91%
  );
}

* {
  font-family: "Raleway", sans-serif;
  color: var(--primary-color-900);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: white;
}

p {
  display: block;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.text-sm {
  font-size: 0.875rem;
  /* font-weight: 500; */
}

.text-3xl {
  color: var(--primary-color-900);
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.p-content {
  line-height: 1.5rem;
  font-size: 1rem;
}

.body__padding-horizontal {
  padding-left: 15%;
  padding-right: 15%;
}

.body__padding-vertical {
  padding-top: 60px;
  padding-bottom: 60px;
}

.h3-medium {
  font-size: 1.25rem;
  font-family: Raleway;
  font-weight: 600;
  line-height: 2.5rem;
  text-decoration: none;
}

.h2-bold {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.h2-light {
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2.5rem;
}

.h1-bold {
  font-size: 3.75rem;
  font-weight: 700;
}

.colored-text {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-primary {
  color: black;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  background: var(--normal-gradient);
  border-color: var(--primary-color);
  border-width: 1px;
  border-radius: 4px;
  cursor: pointer;
}

a > .button-primary {
  text-decoration: none;
}

.button-primary:hover {
  background: white;
}

.button-icon {
  color: var(--primary-color-700);
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--primary-color-700);
  border-radius: 4px;
  background-color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-icon:hover {
  background-color: var(--primary-color-80);
}

.button-icon > span {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.button-icon > img {
  width: 1rem;
  height: 1rem;
}

.button-icon-white-bg {
  color: var(--black-100);
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--white-100);
  border-radius: 4px;
  background-color: var(--white-100);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-icon-white-bg:hover {
  cursor: pointer;
}

.button-icon-white-bg > span {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.button-icon-white-bg > img {
  width: 1rem;
  height: 1rem;
}

.pill {
  padding: 0.2rem 1rem;
  margin-right: 0.5rem;
  border-radius: 20px;
  background-color: var(--primary-color-80);
}

/* Tablet and lower screens */
@media (max-width: 768px) {
  .body__padding-horizontal {
    padding-left: 5%;
    padding-right: 5%;
  }

  .body__padding-vertical {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .h2-light {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.5rem;
  }

  .h1-bold {
    font-size: 2.75rem;
    font-weight: 700;
  }
}
