@import url("../../components/componentStyles.css");
@import url("../../pages/Home/homeStyles.css");

:root {
  --primary-color: #16b894;
  --primary-color-80: #cff9f0;
  --primary-color-700: #0d6f5a;
  --primary-color-900: #074033;
  --background-ash: #f4f4f4;
  --normal-gradient: linear-gradient(119.05deg, #89d7ff 1.63%, #79fcd5 73.91%);
  --text-gradient: -webkit-linear-gradient(
    119.05deg,
    #009ae7 1.63%,
    #00e49f 73.91%
  );
}

* {
  font-family: "Raleway", sans-serif;
  color: var(--primary-color-900);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: white;
}

p {
  display: block;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.text-sm {
  font-size: 0.875rem;
  /* font-weight: 500; */
}

.text-3xl {
  color: var(--primary-color-900);
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.p-content {
  line-height: 1.5rem;
  font-size: 1rem;
}

.body__padding-horizontal {
  padding-left: 15%;
  padding-right: 15%;
}

.body__padding-vertical {
  padding-top: 60px;
  padding-bottom: 60px;
}

.h3-medium {
  font-size: 1.25rem;
  font-family: Raleway;
  font-weight: 600;
  line-height: 2.5rem;
  text-decoration: none;
}

.h2-bold {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.h2-light {
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2.5rem;
}

.h1-bold {
  font-size: 3.75rem;

  font-weight: 700;
}

.colored-text {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-primary {
  color: black;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  background: var(--normal-gradient);
  border-color: var(--primary-color);
  border-width: 1px;
  border-radius: 4px;
  cursor: pointer;
}

.button-primary:hover {
  background: white;
}

.button-icon {
  color: var(--primary-color-700);
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 1.5rem;
  border-color: var(--primary-color-700);
  border-width: 1px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: inherit;
  cursor: pointer;
}

.button-icon > a {
  text-decoration: none;
}

/* Tablet and lower screens */
@media (max-width: 768px) {
  .body__padding-horizontal {
    padding-left: 5%;
    padding-right: 5%;
  }

  .body__padding-vertical {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .h2-light {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.5rem;
  }

  .h1-bold {
    font-size: 2.75rem;
    font-weight: 700;
  }
}
